<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Course</title>
</head>
<body>
  <%- include('partial/navbarAfterAdmin') %>

  <h1>Add New Course</h1>

  <% if (typeof errors !== "undefined" && errors.length) { %>
    <ul style="color:red;">
      <% errors.forEach(msg => { %>
        <li><%= msg %></li>
      <% }) %>
    </ul>
  <% } %>



  <form method="POST" action="/courses/add">
    <p>
      <label>Name</label><br>
      <input type="text" name="name">
    </p>

    <p>
      <label>Description</label><br>
      <textarea name="description" rows="4" cols="30"></textarea>
    </p>

    <p>
      <label>Duration (jam)</label><br>
      <input type="number" name="duration">
    </p>

    <p>
      <label>Category</label><br>
      <select name="CategoryId">
        <option value="" disabled selected>-- Select Category --</option>
        <% categories.forEach(el => { %>
          <option value="<%= el.id %>"><%= el.name %></option>
        <% }) %>
      </select>
    </p>

    <p>
      <button type="submit">Add Course</button>
    </p>
  </form>
</body>
</html>
