<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <h1>Log In</h1>
    <h2>Silahkan masuk kalau sudah terdaftar</h2>
    <form action="/login" method="post">
        <label>Student Name</label><br>
        <input type="text" name="name"><br>
        <br>

        <label>Password</label><br>
        <input type="text" name="password"><br>
        <br>
        <input type="submit" value="Daftar">
    </form>
</body>
</html>