<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <h1>Log In</h1>
    <h2>Silahkan masuk kalau sudah terdaftar</h2>

    <% if (error) { %>
     <p style="color: red;"><%= error %></p>
    <% } %>

    <form action="/login" method="post">
        <label>Student Email</label><br>
        <input type="text" name="email"><br>
        <br>

        <label>Password</label><br>
        <input type="password" name="password"><br>
        <br>
        <input type="submit" value="Masuk">
    </form>
</body>
</html>